<div class="header">
    <div class="container">
        <div class="logo" routerLink="/">
            <i class="fa-solid fa-hippo"></i>
        </div>
        <div class="menu" (click)="toggleMenu()" [ngClass]="showMenu ? 'close' : ''">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="content-menu" [ngClass]="showMenu ? 'active' : ''">
        <ul>
            <p>Itens</p>
            <li routerLink="/item"><i class="fa-solid fa-plus"></i> Adicionar </li>
            <li routerLink="/"><i class="fa-solid fa-list"></i> Listar </li>
        </ul>
    </div>
</div>